@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #3d5cb8;
    --primary-color-dark: #334c99;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --white: #ffffff;
    --max-width: 1200px;

    --fs-1: calc(20px + 3.5vw);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* All keyfames */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10px) rotate(-3deg);
    }
    40% {
        transform: translateX(10px) rotate(3deg);
    }
    60% {
        transform: translateX(-10px) rotate(-3deg);
    }
    80% {
        transform: translateX(10px) rotate(3deg);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Đặt class */
.default {
    background-color: white;
    color: #0078c2;
}
.active {
    background-color: #0078c2;
    color: white;
}
a,
li {
    list-style-type: none;
    text-decoration: none;
}
/* Go to top */
.to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    animation: fade-in 1s ease-in-out forwards;
    opacity: 0;
    z-index: 9999;
}
.to-top a {
    color: #eee;
    font-size: 24px;
    line-height: 40px;
    padding: 10px;
}
.to-top:hover {
    background-color: #555;
}
/* .nav-menu {
    position: fixed;
    width: 100vw;
    z-index: 999;
} */
.nav__logo a {
    color: #334c99;
    /* padding: 1rem 0; */
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color-dark);
}
.nav-top {
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #f1f5f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: -100px;
    transition: top 0.3s ease-in-out;
    z-index: 999;
}

nav.sticky {
    top: 0rem;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.link a {
    font-weight: 500;
    color: var(--primary-color);
    transition: 0.3s;
}

.link a:hover {
    color: var(--text-dark);
}

.mobile__nav__links {
    display: none;
}
.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: 1px solid var(--text-light);
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--white);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn a,
.view__all a {
    color: var(--text-dark);
}

.btn:hover,
.view__all:hover {
    background-color: #333 !important;
}

.btn:hover a,
.view__all:hover a {
    color: var(--white);
}

/* Heading-title */
.title-text > h1 {
    color: #ffc700;
    text-shadow: 8px 5px #400505;
    font-size: 6rem;
    font-weight: 700;
    display: inline-block;
    overflow: hidden; /* Tạo dòng chữ bị cắt */
    border-right: 0.15em solid orange; /* Hiệu ứng con trỏ */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    margin: 0 auto; /* Căn giữa */
    letter-spacing: 0.1em; /* Khoảng cách chữ cái */
    animation: typing 3.5s steps(30, end) infinite,
        blink-caret 0.75s step-end infinite;
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.7);
}
.text {
    margin-left: 5em;
    margin-right: 5em;
}
.text .destination > p {
    font-size: 1.5em;
}
.heading-title {
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.heading-title .text > p {
    font-size: 3.5em;
    font-weight: 700;
    text-shadow: 0px 0px 20px #21ccf3;
}
/* Bảng thông tin điểm đến */
.info-place {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #51af43;
    text-align: justify;
    border: 1px #51af43 solid;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 3em;
}
@media (width < 900px) {
    nav .btn {
        display: none;
    }
}

@media (width < 500px) {
    .heading-title {
        grid-template-columns: auto;
    }
    .info-place {
        margin: 0 auto;
    }
    .navigation nav {
        grid-template-columns: 1fr;
    }
    .tabs-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .tabs-nav li {
        border-bottom: 1px #c1c1c1 solid;
    }
}

@media (width < 800px) {
    .heading-title {
        grid-template-columns: auto;
    }
}

@media (width < 600px) {
    .title-text > h1 {
        font-size: 16vw;
    }
    .navigation nav {
        grid-template-columns: auto !important;
    }
    .nav-card .image {
        width: 90vw !important;
    }
    .rating-overview-filter {
        grid-template-columns: auto !important;
    }
    .nav__links {
        display: none;
    }

    .mobile__nav__links {
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgb(180, 180, 180, 0.9);
        z-index: 9999;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 15px 0;
    }

    .mobile__nav__links.active {
        display: none;
    }

    .mobile__nav__links li a {
        font-size: 20px;
        color: var(--primary-color);
    }
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .toggle-bar {
        width: 25px;
        height: 3px;
        background-color: var(--primary-color-dark);
        margin-bottom: 3px;
    }
    .rating-filter {
        margin-top: 5px !important;
    }
}

@media (width <= 700px) {
    .landscapes,
    .foods,
    .actives,
    .transit {
        grid-template-columns: auto !important;
        grid-template-rows: auto;
    }
}

.info-place i {
    font-weight: 700;
    font-size: 1.5em;
}
.info-place > .fact {
    margin: 1em;
}
.info-place h3 {
    text-align: center;
    margin-top: 10px;
}
.heading-image {
    width: 100vw;
    height: 40vh;
}
.heading-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heading-title .destination {
    width: 100%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
.heading-title .destination p {
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 3rem;
}

/* Discover Phú Quốc */
.title {
    width: 90vw;
    font-size: 2rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.title > h1 {
    font-size: 2.5rem;
}
.discover {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border: 0.3rem #eee solid;
    border-radius: 15px;
}
/* Tab - nav */
.tabs-nav ul {
    display: flex;
}
.tabs-nav {
    width: 100%;
    height: 20%;
    margin-bottom: 0.5em;
    background-color: #eee;
}
.tabs-nav li {
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer !important;
}
.landscapes,
.foods,
.actives,
.transit {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.item {
    background-color: rgb(200, 200, 200);
    margin: 5px;
    cursor: pointer !important;
    border-radius: 10px;
}
.item .image {
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.item .image:hover img {
    transform: scale(1.05);
}
.info {
    text-align: center;
    margin-bottom: 1em;
}
.info p:first-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 7px;
}

/* Hightbox */
.hightbox-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}
.hightbox-content > div {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow-y: scroll;
    padding: 0.5em 2em 2em;
    background-color: #d6eefc;
}
.hightbox-content > div:first-child > a {
    margin-left: 100%;
    font-size: 1.5em;
    color: red;
}
.hightbox-content .image {
    width: 70%;
    border-radius: 15px;
    margin: 0 auto;
}
.hightbox-content .image > img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.hightbox-content .describe {
    text-align: justify;
    margin-top: 2em;
}
.hightbox-content .describe * {
    margin-top: 1em;
}
.hightbox-content .describe a {
    text-decoration: underline;
    color: red;
}
.hightbox-content .heading {
    padding-bottom: 0.5em;
    border-bottom: 0.5px #7a868e solid;
    font-weight: 700;
}
.hightbox-content .heading h2 {
    text-transform: uppercase;
}
.hightbox-content .describe li {
    margin-left: 2em;
    list-style-type: disc;
}

/* Kinh nghiệm */
.experience {
    width: 90vw;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: rgba(159, 159, 159, 0.259);
    text-align: justify;
    border-radius: 15px;
}
.experience li {
    margin-bottom: 10px;
}
.experience span {
    margin-left: 2em;
    margin-top: 10px;
}
.experience p:not(:first-child) {
    color: red;
    font-size: 1.5em;
}

/* MAP */
.map {
    width: 90vw;
    margin: 2rem auto;
}
.map iframe {
    width: 100%;
}
.map h1,
.experience h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
/* Navigation */
.navigation {
    width: 90vw;
    margin: auto;
}
.navigation > h1 {
    font-size: 2.5rem;
}
.navigation nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navigation a {
    width: 100%;
    position: relative;
    border-radius: 20px;
}
.navigation .nav-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.navigation > .nav-card {
    width: 60%;
}
.nav-card .image {
    width: 45vw;
    height: 430px;
}
.nav-card img {
    border-radius: 20px;
}
.nav-card .content {
    position: absolute;
    bottom: 20px;
    left: 1em;
    width: 70%;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee;
    font-size: 2.5em;
    border-bottom: 2px #eee solid;
    text-shadow: 4px 1px #ff0000;
}

/* RATE PLACE */
#rating-container {
    border-top: 1px #7a868e solid;
    background-color: #ebeced;
}
#rating-container > h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase;
}
.rating-overview-filter {
    width: 80%;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 1em auto;
}
.rating-heading {
    background-color: #fffeef;
    width: 90vw;
    margin: 0 auto;
    padding: 5%;
    border-radius: 15px;
}
.rating-overview-filter > .rating-filter {
    margin: 0 15%;
    border: 1px #7a868e solid;
    cursor: pointer !important;
    height: 2rem;
    line-height: 2rem;
    min-width: 6.25rem;
    text-align: center;
    padding: 0 0.625rem;
    border-radius: 10px;
}
.rating-overview-filter > .rating-filter span {
    font-weight: 700;
}
.rating-overview-filter > .rating-filter i {
    color: rgb(255, 134, 4);
}
#rating-list {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.rating__list {
    display: flex;
    flex-direction: column;
}
/* RATING ITEM */
.rating-item {
    display: flex;
    padding: 1em 0 2em 5%;
    border-bottom: 0.5px #7a868e solid;
}
.rating-item .rating-avatar {
    margin-right: 1em;
}
.rating-item .rating-avatar span {
    padding: 0.2em 0.3em;
    border: 1px #000 solid;
    border-radius: 50%;
}
.rating-item .rating-username {
    font-weight: 700;
    margin-bottom: 0.5em;
}
.rating-item .rating-star i {
    color: #dddde3;
}
.rating-item .rating-content {
    margin-top: 1em;
    margin-bottom: 1em;
}
.rating-item .rating-action {
    color: rgb(11, 116, 229);
    width: 7em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    border-radius: 5px;
}
.rating-item .rating-action .like {
    border-radius: 5px;
    border: 1px solid rgb(11, 116, 229);
}
.alert {
    width: 25rem;
    height: 4rem;
    font-size: 20px;
    font-weight: 500;
    color: #eee;
    line-height: 4rem;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    display: none;
    bottom: 50px;
    left: 10px;
}
#succesInternet {
    background-color: #2ccc14;
    line-height: normal;
}
#lostInternet {
    background-color: #ff0000;
    animation: shake 0.5s infinite;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.footer {
    background-color: var(--primary-color);
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 5rem;
}

.footer__col h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col p {
    color: var(--extra-light);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer__col a {
    color: var(--extra-light);
}

.footer__col p:hover {
    color: var(--white);
}

@media only screen and (max-width: 600px) {
    .back-to-home {
        font-size: 16px;
        padding: 8px;
    }
}

@media (width < 900px) {
    nav .btn {
        display: none;
    }

    .footer__container {
        gap: 2rem;
    }
}

@media (width < 600px) {
    .nav__links {
        display: none;
    }

    .mobile__nav__links {
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgb(180, 180, 180, 0.9);
        z-index: 9999;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 15px 0;
    }

    .mobile__nav__links.active {
        display: none;
    }

    .mobile__nav__links li a {
        font-size: 20px;
        color: var(--primary-color);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .toggle-bar {
        width: 25px;
        height: 3px;
        background-color: var(--primary-color-dark);
        margin-bottom: 3px;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__bar {
        flex-direction: column;
        text-align: center;
    }
}
